.form-block {
  font-family: 'Font1', sans-serif;
  margin-inline: 130px;
  margin-bottom: 120px;

  @include respond-to(m) {
    margin: 20px 50px 50px 50px;
  }

  @include respond-to(s) {
    margin: 10px 20px 40px 20px;
  }

  @include respond-to(xs) {
    margin: 20px 24px 30px 20px;
  }

  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: $grey-text;
    margin-bottom: 30px;

    @include respond-to(m) {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    @include respond-to(s) {
      font-size: 24px;
      line-height: 24px;
    }

    @include respond-to(xs) {
      line-height: 14px;
      font-size: 14px;
    }
  }

  &__content {
    display: flex;

    .form-block__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 30px;

      @include respond-to(m) {
        width: 100%;
        padding-right: 0;
      }

      .form-block__input {
        padding: 14px 21px;
        border: none;
        background-color: $form-bg-color;
        outline: none;

        &::placeholder {
          color: $grey-text;
        }
      }

      .form-block__textarea {
        height: 100px;
        padding: 14px 21px;
        border: none;
        background-color: $form-bg-color;
        outline: none;
        resize: none;

        &::placeholder {
          color: $grey-text;
        }
      }

      .form-block__text {
        font-weight: 400;
        font-size: 14px;
        color: $grey-color;

        @include respond-to(m) {
          font-size: 12px;
        }
  
        @include respond-to(s) {
          font-size: 8px;
        }

        &-star {
            color: $red-color;
        }
      }

      .form-block__button {
        padding: 24px 47px;
        width: 60%;
        border: 1px solid $white-color;
        background-color: $grey-color;
        color: $white-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 3px;

        transition: all $hover-time;

        &:hover {
            cursor: pointer;
            border: 1px solid $grey-color;
            background-color: $white-color;
            color: $grey-color;
        }
      }
    }

    .form-block__image {
        width: 749px;
        height: 353px;

        @include respond-to(m) {
          display: none;
        }
    }
  }
}
