.slider {
  font-family: 'Font1', sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-inline: 130px;
  align-items: center;
  margin-bottom: 150px;

  &__count-wrapper {
    display: flex;
    font-weight: 400;
    color: $grey-text;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    &__title {
      font-size: 64px;
      font-weight: 300;
      color: $grey-text;
      line-height: 1;
      margin-bottom: 90px;

      &-bottom {
        font-size: 64px;
        font-weight: 700;
        color: $grey-color;
      }
    }

    &__navigation {
      display: flex;
      align-items: center;
      margin-bottom: 90px;

      .slider__btn-prev {
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        background-color: $white-color;
        border: 2px solid $btn-border-color;
        transition: all $hover-time;
        margin-right: 25px;

        &:hover {
          cursor: pointer;
          background-color: $btn-border-color;
          border: 2px solid $grey-color;
        }
      }

      .slider__btn-next {
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        background-color: $white-color;
        border: 2px solid $btn-border-color;
        transition: all $hover-time;

        &:hover {
          cursor: pointer;
          background-color: $btn-border-color;
          border: 2px solid $grey-color;
        }
      }
    }

    .slider__count {
      display: flex;
      align-items: center;
      font-size: 24px;

      &-left {
        margin-right: 25px;
      }

      &-right {
        padding-left: 25px;
      }
    }
  }

  &__images {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-left: 140px;

    .slider__item {
      flex: 0 0 100%;
      position: relative;
      display: none;

      &:first-child{
        display: block;
      }

      &__img {
        width: 650px;
        height: 600px;
        display: block;
      }

      &__btn {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 70px;
        background-color: $white-color;
        position: absolute;
        left: 0;
        bottom: 0;
        color: $black-color;
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        gap: 20px;
        border: 1px solid $white-color;

        transition: all $hover-time;

        &:hover {
          border: 1px solid $grey-color;
        }
      }

      &__info {
        position: absolute;
        font-weight: 400;
        font-size: 14px;
        left: 10px;
        bottom: 80px; /* Adjusted to not overlap with the button */
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        display: none; /* Initially hidden */
        max-width: calc(100% - 20px);
        box-sizing: border-box;
        border-radius: 8px;
      }
    }
  }
}
