.slider {
  font-family: 'Font1', sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-inline: 130px;
  align-items: center;
  margin-bottom: 150px;

  @include respond-to(m) {
    padding: 20px 50px 0px 50px;
    grid-template-columns: 0.5fr 1.5fr;
    position: relative;
  }

  @include respond-to(s) {
    padding: 10px 20px 0px 20px;
    grid-template-columns: 0.3fr 1.7fr;
  }

  @include respond-to(xs) {
    padding-inline: 24px;
    padding-top: 20px;
    position: relative;
    grid-template-columns: 0.5fr 2fr;
  }

  &__count-wrapper {
    display: flex;
    font-weight: 400;
    color: $grey-text;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    &__title {
      font-size: 64px;
      font-weight: 300;
      color: $grey-text;
      line-height: 1;
      margin-bottom: 90px;

      @include respond-to(m) {
        font-size: 30px;
        margin-bottom: 40px;
      }

      @include respond-to(s) {
        font-size: 24px;
        margin-bottom: 30px;
      }

      @include respond-to(xs) {
        font-size: 14px;
        margin-bottom: 20px;
      }

      &-bottom {
        font-size: 64px;
        font-weight: 700;
        color: $grey-color;

        @include respond-to(m) {
          font-size: 30px;
          margin-bottom: 20px;
        }

        @include respond-to(s) {
          font-size: 24px;
        }

        @include respond-to(xs) {
          font-size: 14px;
        }
      }
    }

    &__navigation {
      display: flex;
      align-items: center;
      margin-bottom: 90px;

      @include respond-to(m) {
        margin-bottom: 40px;
      }

      @include respond-to(s) {
        margin-bottom: 30px;
      }

      @include respond-to(xs) {
        margin-bottom: 20px;
      }

      .slider__btn-prev {
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        background-color: $white-color;
        border: 2px solid $btn-border-color;
        transition: all $hover-time;
        margin-right: 25px;

        @include respond-to(m) {
          width: 42px;
          height: 42px;
          margin-right: 25px;
        }

        @include respond-to(s) {
          width: 35px;
          height: 35px;
          margin-right: 20px;
        }

        @include respond-to(xs) {
          width: 27px;
          height: 27px;
          margin-right: 15px;
        }

        &:hover {
          cursor: pointer;
          background-color: $btn-border-color;
          border: 2px solid $grey-color;
        }
      }

      .slider__btn-next {
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        background-color: $white-color;
        border: 2px solid $btn-border-color;
        transition: all $hover-time;

        @include respond-to(m) {
          width: 42px;
          height: 42px;
          margin-right: 25px;
        }

        @include respond-to(s) {
          width: 35px;
          height: 35px;
          margin-right: 20px;
        }

        @include respond-to(xs) {
          width: 27px;
          height: 27px;
          margin-right: 15px;
        }

        &:hover {
          cursor: pointer;
          background-color: $btn-border-color;
          border: 2px solid $grey-color;
        }
      }
    }

    .slider__count {
      display: flex;
      align-items: center;
      font-size: 24px;

      @include respond-to(m) {
        font-size: 14px;
      }

      &-left {
        margin-right: 25px;

        @include respond-to(m) {
          font-size: 14px;
          margin-right: 16px;
        }
      }

      &-right {
        padding-left: 25px;

        @include respond-to(m) {
          font-size: 14px;
          padding-left: 16px;
        }
      }
    }
  }

  &__images {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-left: 140px;

    @include respond-to(m) {
      margin-left: 90px;
    }

    @include respond-to(s) {
      margin-left: 70px;
    }

    @include respond-to(xs) {
      margin-left: 30px;
    }

    .slider__item {
      flex: 0 0 100%;
      position: relative;
      display: none;

      &:first-child {
        display: block;
      }

      &__img {
        width: 650px;
        height: 600px;
        display: block;

        @include respond-to(m) {
          width: 500px;
          height: 300px;
        }

        @include respond-to(s) {
          width: 350px;
          height: 200px;
        }

        @include respond-to(xs) {
          width: 100%;
        }
      }

      &__btn {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 70px;
        background-color: $white-color;
        position: absolute;
        left: 0;
        bottom: 0;
        color: $black-color;
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        gap: 20px;
        border: 1px solid $white-color;

        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 2px;

        transition: all $hover-time;

        @include respond-to(m) {
          width: 150px;
          height: 50px;
          padding: 5px 10px;
          gap: 20px;
          font-size: 12px;
        }

        @include respond-to(s) {
          width: 100px;
          height: 30px;
          padding: 5px 10px;
          gap: 10px;
          font-size: 8px;
        }

        @include respond-to(xs) {
          width: 100px;
          height: 30px;
          padding: 5px 10px;
          gap: 10px;
          font-size: 8px;
        }

        &:hover {
          border: 1px solid $grey-color;
        }
      }

      &__info {
        position: absolute;
        font-weight: 400;
        font-size: 14px;
        left: 10px;
        bottom: 80px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        display: none;
        max-width: calc(100% - 20px);
        box-sizing: border-box;
        border-radius: 8px;

        @include respond-to(m) {
          width: 42px;
          height: 42px;
          margin-right: 25px;
        }

        @include respond-to(s) {
          width: 35px;
          height: 35px;
          margin-right: 20px;
        }

        @include respond-to(xs) {
          width: 27px;
          height: 27px;
          margin-right: 15px;
        }
      }
    }
  }
}
