.tasks__block {
  font-family: 'Font1', sans-serif;
  margin-inline: 130px;
  margin-bottom: 140px;

  @include respond-to(m) {
    margin: 20px 50px 50px 50px;
  }

  @include respond-to(s) {
    margin: 10px 20px 40px 20px;
  }

  @include respond-to(xs) {
    margin: 20px 24px 30px 20px;
  }

  &__title {
    margin: 0 0 60px 0;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: $grey-text;

    @include respond-to(m) {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    @include respond-to(s) {
      font-size: 24px;
      line-height: 24px;
    }

    @include respond-to(xs) {
      line-height: 14px;
      font-size: 14px;
    }
  }

  .tasks__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 30px;

    @include respond-to(m) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px 0;
    }

    @include respond-to(s) {
      gap: 20px 0;
    }

    @include respond-to(xs) {
      gap: 15px 0;
    }

    .tasks__item {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;

        &__count {
            font-family: 'Font2', sans-serif;
            font-size: 200px;
            font-weight: 900;
            color: $btn-border-color;

            @include respond-to(m) {
              font-size: 170px;
            }
        
            @include respond-to(s) {
              font-size: 125px;
            }
        
            @include respond-to(xs) {
              font-size: 75px;
            }
        }

        &__description {
            font-size: 22px;
            font-weight: 400;
            line-height: 36px;
            color: $grey-color;

            @include respond-to(m) {
              font-size: 18px;
              line-height: 28px;
            }
        
            @include respond-to(s) {
              font-size: 12px;
              line-height: 24px;
            }
        
            @include respond-to(xs) {
              font-size: 8px;
              line-height: 15px;
            }
        }
    }
  }
}
