@charset "UTF-8";
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

/* Normalize */
@font-face {
  font-family: "Font1";
  src: url(../../fonts/tt_hoves/TT\ Hoves\ Pro\ Trial\ Light.ttf) format("ttf");
}
@font-face {
  font-family: "Font2";
  src: url(../../fonts/sf_pro/SFPRODISPLAYMEDIUM.OTF) format("OTF");
}
@font-face {
  font-family: "Font3";
  src: url(../../fonts/open_sans/OpenSans-Light.ttf) format("TTF");
}
.header {
  box-sizing: border-box;
  padding: 30px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .header {
    padding: 20px 50px 0px 50px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 20px 0px 20px;
  }
}
@media (max-width: 480px) {
  .header {
    padding-inline: 24px;
    padding-top: 20px;
  }
}
.header .logo__img {
  margin-top: 10px;
  width: 70px;
  height: 45px;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .header .logo__img {
    width: 50px;
    height: 35px;
  }
}
@media (max-width: 768px) {
  .header .logo__img {
    width: 50px;
    height: 35px;
  }
}
@media (max-width: 480px) {
  .header .logo__img {
    width: 60px;
    height: 30px;
    margin-right: 0;
  }
}
.header .logo__img:hover {
  transform: scale(1.1);
}
.header .btn-close {
  display: none;
  border: none;
  background: none;
}
@media (max-width: 480px) {
  .header .btn-close {
    display: block;
    position: absolute;
    right: 30px;
  }
}
.header .icon-button {
  display: none;
  border: none;
  background: none;
}
@media (max-width: 480px) {
  .header .icon-button {
    display: block;
    position: absolute;
    right: 30px;
  }
}

.navbar {
  padding-left: 250px;
  box-sizing: border-box;
  font-family: "Font1", sans-serif;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .navbar {
    padding-left: 200px;
    display: flex;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding-left: 100px;
    display: flex;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: none;
    position: fixed;
    background-color: #333333;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
    padding-left: 20px;
    margin-right: 100px;
    padding-top: 30px;
  }
}
.navbar__items {
  display: flex;
  gap: 40px;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .navbar__items {
    flex-direction: column;
    gap: 25px;
  }
}
.navbar__item {
  position: relative;
  color: #333333;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .navbar__item {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .navbar__item {
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .navbar__item {
    color: #fff;
    margin-inline: 0;
  }
}
.navbar__item::after, .navbar__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #333333;
  transition: width 0.5s ease;
}
.navbar__item::after {
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}
.navbar__item::before {
  right: 50%;
  top: -5px;
  transform: translateX(50%);
}
.navbar__item:hover::after, .navbar__item:hover::before {
  width: 100%;
  left: 0;
  right: 0;
  transform: translateX(0);
}

.slider {
  font-family: "Font1", sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-inline: 130px;
  align-items: center;
  margin-bottom: 150px;
}
@media (max-width: 1000px) {
  .slider {
    margin: 20px 50px 50px 50px;
    grid-template-columns: 0.5fr 1.5fr;
    position: relative;
  }
}
@media (max-width: 768px) {
  .slider {
    margin: 10px 20px 40px 20px;
    grid-template-columns: 0.3fr 1.7fr;
  }
}
@media (max-width: 480px) {
  .slider {
    margin: 20px 24px 30px 24px;
    position: relative;
    grid-template-columns: 0.5fr 2fr;
  }
}
.slider__count-wrapper {
  display: flex;
  font-weight: 400;
  color: #BDBDBD;
}
.slider__controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.slider__controls__title {
  font-size: 64px;
  font-weight: 300;
  color: #BDBDBD;
  line-height: 1;
  margin-bottom: 90px;
}
@media (max-width: 1000px) {
  .slider__controls__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .slider__controls__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .slider__controls__title {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.slider__controls__title-bottom {
  font-size: 64px;
  font-weight: 700;
  color: #333333;
}
@media (max-width: 1000px) {
  .slider__controls__title-bottom {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .slider__controls__title-bottom {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .slider__controls__title-bottom {
    font-size: 14px;
  }
}
.slider__controls__navigation {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
@media (max-width: 1000px) {
  .slider__controls__navigation {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .slider__controls__navigation {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .slider__controls__navigation {
    margin-bottom: 20px;
  }
}
.slider__controls__navigation .slider__btn-prev {
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  background-color: #fff;
  border: 2px solid #F2F2F2;
  transition: all 0.5s;
  margin-right: 25px;
}
@media (max-width: 1000px) {
  .slider__controls__navigation .slider__btn-prev {
    width: 42px;
    height: 42px;
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .slider__controls__navigation .slider__btn-prev {
    width: 35px;
    height: 35px;
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .slider__controls__navigation .slider__btn-prev {
    width: 27px;
    height: 27px;
    margin-right: 15px;
  }
}
.slider__controls__navigation .slider__btn-prev:hover {
  cursor: pointer;
  background-color: #F2F2F2;
  border: 2px solid #333333;
}
.slider__controls__navigation .slider__btn-next {
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  background-color: #fff;
  border: 2px solid #F2F2F2;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .slider__controls__navigation .slider__btn-next {
    width: 42px;
    height: 42px;
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .slider__controls__navigation .slider__btn-next {
    width: 35px;
    height: 35px;
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .slider__controls__navigation .slider__btn-next {
    width: 27px;
    height: 27px;
    margin-right: 15px;
  }
}
.slider__controls__navigation .slider__btn-next:hover {
  cursor: pointer;
  background-color: #F2F2F2;
  border: 2px solid #333333;
}
.slider__controls .slider__count {
  display: flex;
  align-items: center;
  font-size: 24px;
}
@media (max-width: 1000px) {
  .slider__controls .slider__count {
    font-size: 14px;
  }
}
.slider__controls .slider__count-left {
  margin-right: 25px;
}
@media (max-width: 1000px) {
  .slider__controls .slider__count-left {
    font-size: 14px;
    margin-right: 16px;
  }
}
.slider__controls .slider__count-right {
  padding-left: 25px;
}
@media (max-width: 1000px) {
  .slider__controls .slider__count-right {
    font-size: 14px;
    padding-left: 16px;
  }
}
.slider__images {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-left: 140px;
}
@media (max-width: 1000px) {
  .slider__images {
    margin-left: 150px;
  }
}
@media (max-width: 768px) {
  .slider__images {
    margin-left: 100px;
  }
}
@media (max-width: 480px) {
  .slider__images {
    margin-left: 30px;
  }
}
.slider__images .slider__item {
  flex: 0 0 100%;
  position: relative;
  display: none;
}
.slider__images .slider__item:first-child {
  display: block;
}
.slider__images .slider__item__img {
  width: 650px;
  height: 600px;
  display: block;
}
@media (max-width: 1000px) {
  .slider__images .slider__item__img {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .slider__images .slider__item__img {
    width: 450px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .slider__images .slider__item__img {
    width: 100%;
  }
}
.slider__images .slider__item__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  gap: 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .slider__images .slider__item__btn {
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    gap: 20px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .slider__images .slider__item__btn {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    gap: 10px;
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .slider__images .slider__item__btn {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    gap: 10px;
    font-size: 8px;
  }
}
.slider__images .slider__item__btn:hover {
  border: 1px solid #333333;
}
.slider__images .slider__item__info {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  left: 10px;
  bottom: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  display: none;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
  border-radius: 8px;
}
@media (max-width: 1000px) {
  .slider__images .slider__item__info {
    max-width: 330px;
    font-size: 8px;
    left: 5px;
    bottom: 60px;
    padding: 4px;
  }
}
@media (max-width: 768px) {
  .slider__images .slider__item__info {
    max-width: 210px;
    font-size: 6px;
    left: 5px;
    bottom: 40px;
    padding: 4px;
  }
}
@media (max-width: 480px) {
  .slider__images .slider__item__info {
    max-width: 140px;
    font-size: 5px;
    left: 5px;
    bottom: 34px;
    padding: 4px;
  }
}

.about__block {
  font-family: "Font1", sans-serif;
  margin-inline: 130px;
  margin-bottom: 140px;
}
@media (max-width: 1000px) {
  .about__block {
    margin: 20px 50px 50px 50px;
  }
}
@media (max-width: 768px) {
  .about__block {
    margin: 10px 20px 40px 20px;
  }
}
@media (max-width: 480px) {
  .about__block {
    margin: 20px 24px 30px 20px;
  }
}
.about__block .about__text {
  padding-left: 30px;
}
@media (max-width: 1000px) {
  .about__block .about__text {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .about__block .about__text {
    padding-left: 15px;
  }
}
.about__block .about__text__title {
  margin: 0;
  font-weight: 300;
  font-size: 64px;
  color: #BDBDBD;
  line-height: 64px;
  padding-bottom: 20px;
}
@media (max-width: 1000px) {
  .about__block .about__text__title {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .about__block .about__text__title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .about__block .about__text__title {
    line-height: 14px;
    font-size: 14px;
  }
}
.about__block .about__text__description {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  line-height: 25px;
  padding-bottom: 20px;
}
@media (max-width: 1000px) {
  .about__block .about__text__description {
    font-size: 12px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .about__block .about__text__description {
    font-size: 10px;
    line-height: 16px;
  }
}
@media (max-width: 480px) {
  .about__block .about__text__description {
    font-size: 8px;
    line-height: 16px;
  }
}
.about__block .about__text__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 70px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  gap: 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .about__block .about__text__btn {
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    gap: 20px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .about__block .about__text__btn {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    gap: 10px;
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .about__block .about__text__btn {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    gap: 10px;
    font-size: 8px;
  }
}
.about__block .about__text__btn:hover {
  border: 1px solid #333333;
}

.about {
  background: #FBFBFB;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 30px 70px;
}
@media (max-width: 1000px) {
  .about {
    box-sizing: border-box;
    grid-template-columns: 1.5fr 2fr;
    padding: 20px 30px;
  }
}
@media (max-width: 768px) {
  .about {
    grid-template-columns: 1.5fr 2fr;
    padding: 20px 30px;
  }
}
@media (max-width: 480px) {
  .about {
    grid-template-columns: 1.5fr 2fr;
    padding: 20px 30px;
  }
}
.about__images {
  margin-right: 30px;
  display: grid;
  grid-template-columns: 270px 270px;
  grid-template-rows: 270px;
  gap: 30px;
  grid-template-areas: "first third" "second third";
}
@media (max-width: 1000px) {
  .about__images {
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px;
    gap: 20px;
    grid-template-areas: "first third" "second third";
  }
}
@media (max-width: 768px) {
  .about__images {
    grid-template-columns: 125px 125px;
    grid-template-rows: 125px;
    gap: 15px;
    grid-template-areas: "first third" "second third";
  }
}
@media (max-width: 480px) {
  .about__images {
    margin-right: 0;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px;
    gap: 10px;
    grid-template-areas: "first third" "second third";
  }
}
.about__images-first {
  width: 270px;
  height: 270px;
}
@media (max-width: 1000px) {
  .about__images-first {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .about__images-first {
    width: 125px;
    height: 125px;
  }
}
@media (max-width: 480px) {
  .about__images-first {
    width: 100px;
    height: 100px;
  }
}
.about__images-second {
  width: 270px;
  height: 350px;
  padding-top: 30px;
}
@media (max-width: 1000px) {
  .about__images-second {
    width: 200px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .about__images-second {
    width: 150px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .about__images-second {
    width: 100px;
    height: 150px;
  }
}
.about__images-third {
  width: 270px;
  height: 140px;
}
@media (max-width: 1000px) {
  .about__images-third {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .about__images-third {
    width: 125px;
    height: 125px;
  }
}
@media (max-width: 480px) {
  .about__images-third {
    width: 100px;
    height: 100px;
  }
}
.about-first {
  grid-area: first;
}
.about-second {
  grid-area: second;
}
.about-third {
  grid-area: third;
}

.tasks__block {
  font-family: "Font1", sans-serif;
  margin-inline: 130px;
  margin-bottom: 140px;
}
@media (max-width: 1000px) {
  .tasks__block {
    margin: 20px 50px 50px 50px;
  }
}
@media (max-width: 768px) {
  .tasks__block {
    margin: 10px 20px 40px 20px;
  }
}
@media (max-width: 480px) {
  .tasks__block {
    margin: 20px 24px 30px 20px;
  }
}
.tasks__block__title {
  margin: 0 0 60px 0;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}
@media (max-width: 1000px) {
  .tasks__block__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .tasks__block__title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .tasks__block__title {
    line-height: 14px;
    font-size: 14px;
  }
}
.tasks__block .tasks__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 30px;
}
@media (max-width: 1000px) {
  .tasks__block .tasks__items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 0;
  }
}
@media (max-width: 768px) {
  .tasks__block .tasks__items {
    gap: 20px 0;
  }
}
@media (max-width: 480px) {
  .tasks__block .tasks__items {
    gap: 15px 0;
  }
}
.tasks__block .tasks__items .tasks__item {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.tasks__block .tasks__items .tasks__item__count {
  font-family: "Font2", sans-serif;
  font-size: 200px;
  font-weight: 900;
  color: #F2F2F2;
}
@media (max-width: 1000px) {
  .tasks__block .tasks__items .tasks__item__count {
    font-size: 170px;
  }
}
@media (max-width: 768px) {
  .tasks__block .tasks__items .tasks__item__count {
    font-size: 125px;
  }
}
@media (max-width: 480px) {
  .tasks__block .tasks__items .tasks__item__count {
    font-size: 75px;
  }
}
.tasks__block .tasks__items .tasks__item__description {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: #333333;
}
@media (max-width: 1000px) {
  .tasks__block .tasks__items .tasks__item__description {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .tasks__block .tasks__items .tasks__item__description {
    font-size: 12px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .tasks__block .tasks__items .tasks__item__description {
    font-size: 8px;
    line-height: 15px;
  }
}

.projects__block {
  font-family: "Font1", sans-serif;
  margin-inline: 130px;
  margin-bottom: 240px;
  display: block;
  position: relative;
}
@media (max-width: 1000px) {
  .projects__block {
    margin: 20px 50px 150px 50px;
  }
}
@media (max-width: 768px) {
  .projects__block {
    margin: 10px 20px 140px 20px;
  }
}
@media (max-width: 480px) {
  .projects__block {
    margin: 20px 24px 130px 20px;
  }
}
.projects__block__title {
  margin: 0;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .projects__block__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .projects__block__title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .projects__block__title {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas: "first first second second" "third fourth fourth fifth";
}
@media (max-width: 1000px) {
  .projects__block .project__images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: "first first" "second second" "fourth third" "third fifth";
  }
}
@media (max-width: 768px) {
  .projects__block .project__images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.5fr;
    gap: 10px 10px;
    grid-template-areas: "first first" "second second" "fourth fourth" "third fifth";
  }
}
@media (max-width: 480px) {
  .projects__block .project__images {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images__item__container {
  position: relative;
}
.projects__block .project__images .project__images__item-second {
  grid-area: second;
}
.projects__block .project__images .project__images__item-first {
  grid-area: first;
}
.projects__block .project__images .project__images__item-third {
  grid-area: third;
}
.projects__block .project__images .project__images__item-fourth {
  grid-area: fourth;
}
.projects__block .project__images .project__images__item-fifth {
  grid-area: fifth;
}
.projects__block .project__images__item--l {
  display: block;
  width: 571px;
  height: 255px;
}
@media (max-width: 1000px) {
  .projects__block .project__images__item--l {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .projects__block .project__images__item--l {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .projects__block .project__images__item--l {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images__item--m {
  display: block;
  width: 470px;
  height: 255px;
}
@media (max-width: 1000px) {
  .projects__block .project__images__item--m {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .projects__block .project__images__item--m {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .projects__block .project__images__item--m {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images__item--s {
  display: block;
  width: 377px;
  height: 255px;
}
@media (max-width: 1000px) {
  .projects__block .project__images__item--s {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .projects__block .project__images__item--s {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .projects__block .project__images__item--s {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images__item--xs {
  display: block;
  width: 270px;
  height: 255px;
}
@media (max-width: 1000px) {
  .projects__block .project__images__item--xs {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .projects__block .project__images__item--xs {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .projects__block .project__images__item--xs {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images__item__image {
  display: block;
  width: 100%;
  height: 100%;
}
.projects__block .project__images .image__overlay {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Сірий прозорий фон */
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  transition: opacity 0.5s;
}
.projects__block .project__images .image__overlay__title {
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
}
.projects__block .project__images .image__overlay .overlay__title--l,
.projects__block .project__images .image__overlay .overlay__title--m,
.projects__block .project__images .image__overlay .overlay__title--s,
.projects__block .project__images .image__overlay .overlay__title--xs {
  font-weight: 700;
}
.projects__block .project__images .image__overlay .overlay__title--l {
  padding-left: 20px;
  margin: 0 0 20px 0;
  font-size: 64px;
  line-height: 64px;
}
@media (max-width: 1000px) {
  .projects__block .project__images .image__overlay .overlay__title--l {
    margin: 0 0 15px 0;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .projects__block .project__images .image__overlay .overlay__title--l {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .projects__block .project__images .image__overlay .overlay__title--l {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images .image__overlay .overlay__title--m,
.projects__block .project__images .image__overlay .overlay__title--s {
  padding-left: 15px;
  margin: 0 0 10px 0;
  font-size: 48px;
  line-height: 48px;
}
@media (max-width: 1000px) {
  .projects__block .project__images .image__overlay .overlay__title--m,
  .projects__block .project__images .image__overlay .overlay__title--s {
    margin: 0 0 15px 0;
    font-size: 32px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .projects__block .project__images .image__overlay .overlay__title--m,
  .projects__block .project__images .image__overlay .overlay__title--s {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .projects__block .project__images .image__overlay .overlay__title--m,
  .projects__block .project__images .image__overlay .overlay__title--s {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images .image__overlay .overlay__title--xs {
  padding-left: 15px;
  margin: 0 0 10px 0;
  font-size: 32px;
  line-height: 32px;
}
@media (max-width: 1000px) {
  .projects__block .project__images .image__overlay .overlay__title--xs {
    margin: 0 0 15px 0;
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .projects__block .project__images .image__overlay .overlay__title--xs {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .projects__block .project__images .image__overlay .overlay__title--xs {
    line-height: 14px;
    font-size: 14px;
  }
}
.projects__block .project__images .image__overlay__button {
  border: 1px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.projects__block .project__images .image__overlay .overlay__button--l,
.projects__block .project__images .image__overlay .overlay__button--m,
.projects__block .project__images .image__overlay .overlay__button--s,
.projects__block .project__images .image__overlay .overlay__button--xs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  color: #fff;
  width: 170px;
  height: 30px;
  background: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 3px;
  transition: all 0.5s;
}
.projects__block .project__images .image__overlay .overlay__button--l:hover,
.projects__block .project__images .image__overlay .overlay__button--m:hover,
.projects__block .project__images .image__overlay .overlay__button--s:hover,
.projects__block .project__images .image__overlay .overlay__button--xs:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.projects__block .project__images .image__overlay .overlay__button--l {
  margin-left: 24px;
}
.projects__block .project__images .image__overlay .overlay__button--m,
.projects__block .project__images .image__overlay .overlay__button--s {
  margin-left: 18px;
}
.projects__block .project__images .image__overlay .overlay__button--xs {
  margin-left: 16px;
}
.projects__block .project__images__item__container:hover .image__overlay {
  opacity: 1;
}
.projects__block__button {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 24px 40px;
  color: #fff;
  width: 220px;
  height: 30px;
  background: #333333;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 3px;
  border: 1px solid #fff;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .projects__block__button {
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    gap: 20px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .projects__block__button {
    gap: 10px;
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .projects__block__button {
    gap: 10px;
    font-size: 8px;
  }
}
.projects__block__button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.form-block {
  font-family: "Font1", sans-serif;
  margin-inline: 130px;
  margin-bottom: 120px;
}
@media (max-width: 1000px) {
  .form-block {
    margin: 20px 50px 50px 50px;
  }
}
@media (max-width: 768px) {
  .form-block {
    margin: 10px 20px 40px 20px;
  }
}
@media (max-width: 480px) {
  .form-block {
    margin: 20px 24px 30px 20px;
  }
}
.form-block__title {
  margin: 0;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .form-block__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .form-block__title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .form-block__title {
    line-height: 14px;
    font-size: 14px;
  }
}
.form-block__content {
  display: flex;
}
.form-block__content .form-block__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .form-block__content .form-block__form {
    width: 100%;
    padding-right: 0;
  }
}
.form-block__content .form-block__form .form-block__input {
  padding: 14px 21px;
  border: none;
  background-color: #F3F3F3;
  outline: none;
}
.form-block__content .form-block__form .form-block__input::-moz-placeholder {
  color: #BDBDBD;
}
.form-block__content .form-block__form .form-block__input::placeholder {
  color: #BDBDBD;
}
.form-block__content .form-block__form .form-block__textarea {
  height: 100px;
  padding: 14px 21px;
  border: none;
  background-color: #F3F3F3;
  outline: none;
  resize: none;
}
.form-block__content .form-block__form .form-block__textarea::-moz-placeholder {
  color: #BDBDBD;
}
.form-block__content .form-block__form .form-block__textarea::placeholder {
  color: #BDBDBD;
}
.form-block__content .form-block__form .form-block__text {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
@media (max-width: 1000px) {
  .form-block__content .form-block__form .form-block__text {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .form-block__content .form-block__form .form-block__text {
    font-size: 8px;
  }
}
.form-block__content .form-block__form .form-block__text-star {
  color: red;
}
.form-block__content .form-block__form .form-block__button {
  padding: 24px 47px;
  width: 60%;
  border: 1px solid #fff;
  background-color: #333333;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 3px;
  transition: all 0.5s;
}
.form-block__content .form-block__form .form-block__button:hover {
  cursor: pointer;
  border: 1px solid #333333;
  background-color: #fff;
  color: #333333;
}
.form-block__content .form-block__image {
  width: 749px;
  height: 353px;
}
@media (max-width: 1000px) {
  .form-block__content .form-block__image {
    display: none;
  }
}

.footer__block {
  background-color: #2C2C2C;
  box-sizing: border-box;
}
.footer__block .footer {
  padding: 58px 116px;
  display: flex;
  gap: 170px;
}
.footer__block .footer__logo {
  width: 150px;
  height: 100px;
}
.footer__block .footer__info {
  display: block;
  font-family: "Font1", sans-serif;
}
.footer__block .footer__info__title {
  color: #fff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
}
.footer__block .footer__info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.footer__block .footer__info__wrapper .footer__info__item {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.5s;
}
.footer__block .footer__info__wrapper .footer__info__item:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px #fff);
}
.footer__block .footer__contacts {
  display: block;
  font-family: "Font1", sans-serif;
}
.footer__block .footer__contacts__title {
  color: #fff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
}
.footer__block .footer__contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.footer__block .footer__contacts__wrapper .contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.footer__block .footer__contacts__wrapper .contacts__item:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px #fff);
}
.footer__block .footer__contacts__wrapper .contacts__item__logo {
  width: 16px;
  height: 16px;
}
.footer__block .footer__contacts__wrapper .contacts__item__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.footer__block .footer__social {
  display: block;
  font-family: "Font1", sans-serif;
}
.footer__block .footer__social__title {
  color: #fff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
}
.footer__block .footer__social__wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
}
.footer__block .footer__social__wrapper .footer__social__item {
  transition: all 0.5s;
}
.footer__block .footer__social__wrapper .footer__social__item:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px #fff);
}
.footer__block .footer__social__wrapper .footer__social__item__image {
  width: 22px;
  height: 22px;
}
.footer__block__line {
  opacity: 10%;
}
.footer__block__description {
  font-family: "Font3", sans-serif;
  padding-block: 24px;
  color: #c8c8c8;
  opacity: 50%;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */