
$breakpoint-xs: 480px;
$breakpoint-s: 768px; 
$breakpoint-m: 1000px;

$grey-color: #333333;
$grey-text: #BDBDBD;
$white-color: #fff;
$black-color: #000;
$btn-border-color: #F2F2F2;
$about-block-bg-color: #FBFBFB;
$form-bg-color: #F3F3F3;
$red-color: red;

$desk-hor-margins: 135px;

$hover-time: .5s;