@font-face {
    font-family: 'Font1';
    src: url(../../fonts/TT\ Hoves\ Pro\ Trial\ Light.ttf) format('ttf'),
  }

@font-face {
  font-family: 'Font2';
  src: url(../../fonts/SFPRODISPLAYMEDIUM.OTF) format('OTF');
}

@font-face {
  font-family: 'Font3';
  src: url(../../fonts/OpenSans-Light.ttf) format('TTF');
}