@font-face {
  font-family: 'Font1';
  src: url(../../fonts/tt_hoves/TT\ Hoves\ Pro\ Trial\ Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Font2';
  src: url(../../fonts/sf_pro/SFPRODISPLAYMEDIUM.OTF) format('OTF');
}

@font-face {
  font-family: 'Font3';
  src: url(../../fonts/open_sans/OpenSans-Light.ttf) format('TTF');
}
